@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  position: relative; /* Positioning for pseudo-element */
}

.title::after {
  content: ""; /* Empty content for the underline */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background-color: var(--color-text); /* Color of the underline */
  transform: scaleX(0); /* Initial state of the underline */
  transform-origin: bottom right; /* Starts from right */
  transition: transform 0.3s ease; /* Smooth transition */
}

.title:hover::after {
  transform: scaleX(1); /* Expands the underline */
  transform-origin: bottom left; /* Expands to the left */
}


.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  transition: transform 0.3s ease-in-out;
}

.skillImageContainer:hover {
  transform: scale(1.1);
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 23px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 25px;
  transition: transform 0.3s ease-in-out;
}

.historyItem:hover {
  transform: scale(1.05);
}

.historyItem img {
  width: 60px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 28px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 17px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 20px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 830px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
  }

  .title {
    font-size: 28px;
  }

  .content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .skillImageContainer {
    width: 80px;
    height: 80px;
  }

  .skillImageContainer img {
    width: 50px;
  }

  .skill p {
    font-size: 18px;
  }

  .history {
    width: 100%;
    gap: 20px;
  }

  .historyItem {
    padding: 15px;
    gap: 15px;
  }

  .historyItem img {
    width: 40px;
  }

  .historyItemDetails h3 {
    font-size: 20px;
  }

  .historyItemDetails p {
    font-size: 15px;
  }

  .historyItemDetails ul {
    font-size: 14px;
    text-align: justify;
}

  /* Adjust GIF size for mobile */
  .homeGif {
    width: 50%; /* Adjust the width as needed */
    height: auto;
  }
}
